body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.page-wrapper {
    width: 100%;
    min-width: 400px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 1px 1em 3em;
}

.form-wrapper {
    margin: 3em auto 0;
    width: 100%;
    min-width: 600px;
    max-width: 1000px;
}

.form-pink {
    padding: 3em;
    border: 2px solid #be4f83;
    border-radius: 1em;
    background-color: antiquewhite;
}

.form-pink p {
    margin: 0;
    min-height: 40px;
}

.form-pink p + p {
    margin-top: 1.5em;
}

.form-pink label {
    margin-right: 2ex;
}

.form-pink label > span {
    display: inline-block;
    width: 210px;
}

.form-pink label,
.form-pink button,
.form-pink input,
.form-pink select {
    font-size: 140%;
    font-weight: 700;
    color: #bf3274;
}

.form-pink input,
.form-pink select {
    border: 1px solid #bf3274;
    padding: .25em;
}

.form-pink button {
    border: 1px solid #bf3274;
    padding: 1em;
}

.form-pink textarea {
    display: block;
    width: 100%;
    border: 1px solid #bf3274;
    padding: 1em;
    font-weight: 700;
    color: #bf3274;
}

.form-pink div {
    margin-top: 3em;
}

.form-pink input[type="submit"] {
    border-radius: .5em;
    padding: 1em;
    cursor: pointer;
}